<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<style>
  .row>[class^=col] {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(182, 89, 27, 0.25);
    border: 1px solid rgba(228, 75, 15, 0.4);
  }

  .row {
    margin-top: 0.25em;
  }
</style>

<body>

  <div class="container">
    <!-- First Row -->
    <div class="row">
      <!-- First Column -->
      <div class="col">
        Element 1 of 2 (row 1)
      </div>
      <!-- Second Column -->
      <div class="col">
        Element 2 of 2 (row 1)
      </div>
    </div>

    <!-- Second Row   -->
    <div class="row">
      <!-- First Column -->
      <div class="col">
        Element 1 of 3(row 2)
      </div>
      <!-- Second Column -->
      <div class="col">
        Element 2 of 3(row 2)
      </div>
      <!-- Third Column -->
      <div class="col">
        Element 3 of 3(row 2)
      </div>
    </div>

    <!-- Third Row 
    <div class="row">
    <div class="col-4">
      Element 1 of 2 (row 3)
    </div>
    <div class="col-8">
      Element 2 of 2(row 3)
    </div>
    <div class="col-6">
      Extra Element
    </div>
  </div> -->

    <!-- Third Row
    <div class="row">
      <div class="col-1">Element 1 of 12 (row 3)</div>
      <div class="col-1">Element 2 of 12 (row 3)</div>
      <div class="col-1">Element 3 of 12 (row 3)</div>
      <div class="col-1">Element 4 of 12 (row 3)</div>
      <div class="col-1">Element 5 of 12 (row 3)</div>
      <div class="col-1">Element 6 of 12 (row 3)</div>
      <div class="col-1">Element 7 of 12 (row 3)</div>
      <div class="col-1">Element 8 of 12 (row 3)</div>
      <div class="col-1">Element 9 of 12 (row 3)</div>
      <div class="col-1">Element 10 of 12 (row 3)</div>
      <div class="col-1">Element 11 of 12 (row 3)</div>
      <div class="col-1">Element 12 of 12 (row 3)</div>
      <div class="col-1">Overflow</div>
      <div class="col-1">Overflow</div>
    </div> -->

    <!-- Fourth Row 
    <div class="row">
      <div class="col-sm-2">Element 1 of 3 (row 4)</div>
      <div class="col-sm-7">Element 2 of 3 (row 4</div>
      <div class="col-sm-3">Element 3 of 3 (row 4</div>
    </div> -->

    <!-- Fifth Row 
    <div class="row">
      <div class="col-lg-2">Element 1 of 3(row 5)</div>
      <div class="col-lg-7">Element 2 of 3(row 5)</div>
      <div class="col-lg-3">Element 3 of 3(row 5)</div>
    </div> -->

    <!-- <div class="row">
      <div class="col-md-8 col-sm-4">Hello, I want 8 columns please</div>
      <div class="col-md-4 col-sm-8">I'll take 4 If that's OK </div>
    </div> -->

    <div class="row">
      
    </div>
  </div>
</body>

</html>